**/__pycache__/ 
**/*.pyc
third_party/**/.vs/
third_party/**/temp_files/
third_party/**/Debug/
third_party/**/Release/
third_party/**/x64/
third_party/**/ipch/
!third_party/beyond-the-sword-sdk/CvGameCoreDLL/Boost-1.32.0/include/boost/preprocessor/debug/
!third_party/beyond-the-sword-sdk/CvGameCoreDLL/Boost-1.32.0/include/boost/preprocessor/debug/**
!third_party/beyond-the-sword-sdk/CvGameCoreDLL/Boost-1.32.0/include/boost/spirit/debug/
!third_party/beyond-the-sword-sdk/CvGameCoreDLL/Boost-1.32.0/include/boost/spirit/debug/**
third_party/**/*.suo
third_party/**/*.sdf
third_party/**/*.VC.db
third_party/**/.git/
CoreFiles/Sid Meier's Civilization IV Beyond the Sword/Beyond the Sword/Assets/CvGameCoreDLL_*.dll
CoreFiles/Sid Meier's Civilization IV Beyond the Sword/Beyond the Sword/Assets/CvGameCoreDLL_backup_*.dll
CoreFiles/Sid Meier's Civilization IV Beyond the Sword/Assets/Art/Movies/Intros/intro.bik
CoreFiles/Sid Meier's Civilization IV Beyond the Sword/Assets/Assets0.fpk
CoreFiles/Sid Meier's Civilization IV Beyond the Sword/Assets/Assets1.fpk
CoreFiles/Sid Meier's Civilization IV Beyond the Sword/Assets/Assets2.fpk
CoreFiles/Sid Meier's Civilization IV Beyond the Sword/Beyond the Sword/ThemeParseLog.txt
CoreFiles/dist/*
!CoreFiles/dist/DowagerMod-Installer/
CoreFiles/build/
.build_venv/
build.log
tmp/**
.env
!.env.example
!**/.env.example
test_speech_output.wav
test_discord_audio.wav
voice_audit/
voices_list.txt
